[meta]
version = "0.1.0"

[job.test]
command = "make"
args = ["test"]

[job."test:live"]
mode = "watch"
job = "test"
watch_list = ["**/*.go"]

[job.coverage]
command = "make"
args = ["coverage"]

[job."coverage:live"]
mode = "watch"
job = "coverage"
watch_list = ["**/*.go"]
